@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");
@import "@/styles/theme.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Lexend", sans-serif;
}
:root {
  --radius: 0.5rem; /* tương đương rounded-lg = 8px */
}

.no-focus {
  @apply focus-visible:ring-0 focus-visible:ring-transparent focus-visible:ring-offset-0 !important;
}

.primary-text-gradient {
  background: linear-gradient(129deg, #ff7000 0%, #e2995f 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
